.input-component {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-component span {
    display: block;
    margin-bottom: 0.5rem;
}

.input-component.input-component--large input {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.select-component {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.select-component span {
    display: block;
    margin-bottom: 0.5rem;
}

.select-component.select-component--large select {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.tabs-component .tabs-row {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
}

.tabs-component .tabs-row .tab {
  border: 1px solid #EEEEEE;
  border-bottom: none;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tabs-component .tabs-row .tab.active {
    background-color: #EEEEEE;
    cursor: auto;
}

.tabs-component .tabs-content {
    border: 1px solid #EEEEEE;
    padding: 0.5rem 1rem;
}